body {
    margin: 0;
    overflow-x: hidden;
    /* overflow: hidden; */
    /* cursor: none; Hide the default cursor */
  }
  
  .App {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    background: linear-gradient(to bottom right, rgb(13, 19, 64), rgb(4, 4, 26));
    /* background-color: rgb(15 23 42 ); */

  }