body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, rgb(11, 17, 59), rgb(2, 2, 27));
    /* overflow: hidden; */
    /* cursor: none; Hide the default cursor */
  }
  
  .App {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    /* background-color: rgb(15 23 42 ); */

  }