@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap");

.headerBrandName {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headerBrandLinks {
  list-style: decimal-leading-zero;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.NameH1{
  font-family: sans-serif;
  font-weight: 900;
}